@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-btn: #FF9900;
  --color-btn-hover: #F7B045;
  --color-btn-active: #E1670E;
  --color-btn_black-active: #000;
  --color-btn_black-hover: #666;
  --color-white: #fff;
  --color-black: #333;
  --color-light-grey: #cacaca;
  --color-footer-input: #414141;
  --section-margin: 100px;
  --section-margin-laptop: 80px;
  --section-margin-mobile: 60px;
}

* {
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body.lock {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.ul-reset {
  list-style: none;
}

.btn-reset {
  border: none;
  cursor: pointer;
  background: transparent;
}

.link-reset {
  text-decoration: none;
  cursor: pointer;
}

.img-setting {
  max-width: 100%;
}

.inline-block-link {
  display: inline-block;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1800px;
}

.section-margin {
  margin-bottom: var(--section-margin);
}

.btn {
  padding: 19px 38px;
  background: var(--color-btn);
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--color-white);
}

.menu-link {
  font-size: 18px;
  font-weight: 600;
}

.primary-text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-black);
}

.primary-text_grey {
  color: var(--color-light-grey);
}

.primary-text_white {
  color: var(--color-white);
}

.primary-text_bold {
  font-weight: 700;
}

/* Хедер */

.header {
  width: 100%;
  height: 100px;
  background: var(--color-white);
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__burger-menu {
  display: none;
}

.logo {
  display: inline-block;
  margin-right: auto;
}

.header__logo {
  margin-right: auto;
}

.header__menu {
  margin-right: 85px;
}

.header__menu-list {
  display: flex;
}

.header__menu-list-item:not(:last-child) {
  margin-right: 86px;
}

.header__menu-link {
  position: relative;
  line-height: 22px;
  color: var(--color-black);
  transition-property: outline, color;
  transition-delay: .2s;
  transition-timing-function: ease;
}

.header__menu-link:before {
  content: '';
  position: absolute;
  right: 0;
  left: 50%;
  bottom: -7px;
  display: inline-block;
  width: 0%;
  border-bottom: 2px solid var(--color-btn);
  transition: width .2s ease, left .2s ease;
}

.header__menu-link:hover::before {
  left: 0;
  width: 100%;
}

.header__menu-link:focus {
  outline: 2px solid var(--color-btn);
}

.header__menu-link:active {
  outline: none;
  color: var(--color-btn-active);
}

.header__search-btn {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  transition: background-image .2s ease;
}

.header__search-btn:hover {
  background-image: url("../img/search-icon-hover.svg");
}

.header__search-btn:focus {
  outline: 2px solid var(--color-btn);
}

/* Главный экран */

.hero__container {
  max-width: 1770px;
}

.hero__heading {
  margin: 0 0 23px;
  position: relative;
  font-size: 70px;
  font-weight: 800;
  line-height: 85px;
  color: var(--color-white);
  z-index: 2;
}

.hero__text {
  margin: 0 0 90px;
  position: relative;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: var(--color-white);
  z-index: 2;
}

.hero__heading-block {
  padding: 100px 0 112px 65px;
  position: relative;
  max-width: 908px;
}

.hero__btn {
  position: relative;
  font-size: 23.4px;
  line-height: 28px;
  transition: background .2s ease;
  z-index: 2;
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--color-btn-hover);
}

.hero__btn:active {
  background-color: var(--color-btn-active);
}

/* слайдер */

.swiper-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero__slider .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
}

.swiper-pagination {
  margin-bottom: 25px;
  z-index: 15;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0;
  left: 0;
  width: 100%;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
  margin-right: 16px;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.slide-one {
  background-image: url('../img/hero-slide-one.webp');
}

.slide-two {
  background-image: url('../img/hero-slide-two.webp');
}

.slide-three {
  background-image: url('../img/hero-slide-three.webp');
}

/* О нас */

.subheading {
  margin-top: 0;
  font-size: 48px;
  line-height: 60px;
  font-weight: 400;
  color: var(--color-black);
}

.subheading_bold {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: var(--color-black);
}

.about__subheading {
  margin-bottom: 20px;
}

.about__text {
  margin-bottom: 50px;
  max-width: 1235px;
}

.about__content-block {
  display: flex;
}

.about__right-block {
  flex: 0 1 50%;
}

.about__left-block {
  display: flex;
  flex: 0 0 868px;
  margin-right: 31px;
  background-image: url("../img/about-worker.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about__article-description {
  align-self: flex-end;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 51px 50px 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.about__article-btn {
  padding: 17px 36px;
  border: 3px solid var(--color-btn);
  background: transparent;
  transition: background .2s ease, border-color .2s ease;
}

.about__article-btn:hover,
.about__article-btn:focus {
  border-color: var(--color-btn-hover);
  background-color: var(--color-btn-hover);
}

.about__article-btn:active {
  border-color: var(--color-btn-active);
  background-color: var(--color-btn-active);
}

.about__article-description-text {
  margin-right: auto;
  max-width: 454px;
}

.about__article {
  padding: 63px 115px 64px 63px;
  background-repeat: no-repeat;
  background-position: 60px;
  border: 1px solid var(--color-light-grey);
}

.about__article-text {
  margin-left: 238px;
  max-width: 452px;
}

.about__subheading-article {
  margin: 0 0 9px;
}

.about__article_margin {
  margin-bottom: 32px;
}

.cube {
  background-image: url("../img/about-cube.svg");
}

.gear {
  background-image: url("../img/about-gear.svg");
}

/* Как мы работаем */

.how-work__content {
  display: none;
}

.how-work__content.active {
  display: flex;
}

.how-work__content-left {
  flex: 0 1 42.83%;
  margin-right: auto;
}

.how-work__content-right {
  flex: 0 1 49.16%;
  height: auto;
  background: url("../img/how-work-notebooks.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hands-and-pencil {
  background-image: url("../img/how-work-two.webp");
}

.hands-and-notebook {
  background-image: url("../img/how-work-three.webp");
}

.keyboard {
  background-image: url("../img/how-work-four.webp");
}

.how-work__text {
  margin-bottom: 50px;
}

.how-work__tabs {
  display: flex;
  margin: 0 0 48px;
  width: 100%;
}

.how-work__tabs-item:not(:last-child) {
  margin-right: 92px;
}

.how-work__tabs-btn {
  transition-property: color, outline;
  transition-delay: .2s;
  transition-timing-function: ease;
}

.how-work__tabs-btn.active {
  color: var(--color-btn-active);
}


.how-work__tabs-btn:hover {
  color: var(--color-btn-hover);
}

.how-work__tabs-btn:active {
  color: var(--color-btn-active);
  outline: none;
}

.how-work__tabs-btn:focus {
  outline: 2px solid var(--color-btn);
}

.how-work__subheading {
  margin-bottom: 51px;
}

.how-work__subheading_bold {
  margin-bottom: 8px;
  line-height: 32px;
}

.how-work__link {
  padding: 20px 38px;
}

.how-work__link_grey {
  padding: 18px 37px;
  border: 1px solid var(--color-black);
  background-color: transparent;
  font-weight: 400;
  color: var(--color-black);
  transition: background .2s linear, color .2s linear;
}

.how-work__link_grey:hover,
.how-work__link_grey:focus {
  background-color: var(--color-btn_black-hover);
  color: var(--color-white);
}

.how-work__link_grey:active {
  background-color: var(--color-btn_black-active);
}

.how-work__link_margin {
  margin-right: 28px;
  transition: background-color .2s linear;
}

.how-work__link_margin:hover,
.how-work__link_margin:focus {
  background-color: var(--color-btn-hover);
}

.how-work__link_margin:active {
  background-color: var(--color-btn-active);
}

/* Частые вопросы */

.faq__subheading {
  margin-bottom: 42px;
}

.faq__list-heading-separator {
  display: contents;
  color: var(--color-light-grey);
  transition: color .2s ease;
}

.ui-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  line-height: 32px;
  transition: border .2s ease, color .2s ease;
}

.ui-accordion-header::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.faq__list {
  margin: 0;
}

.faq__list-item {
  padding: 30px 0;
  margin-top: -1px;
  position: relative;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--color-light-grey);
  transition: border .2s ease;
  cursor: pointer;
}

.faq__list-item:first-child {
  border-top: 1px solid var(--color-light-grey);
}

.faq__list-item:hover {
  border-top: 1px solid var(--color-btn);
  border-bottom: 1px solid var(--color-btn);
}

.faq__list-item:hover .faq__list-heading,
.faq__list-item:hover .faq__list-heading-separator {
  color: var(--color-btn);
}

.ui-icon-plus {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  background-image: url("../img/icon-plus.svg");
  background-position: center;
  background-size: cover;
  transition: transform .2s ease, background .2s ease;
}

.faq__list-description {
  padding-top: 20px;
}

.ui-accordion-header-active .ui-icon-plus {
  transform: rotate(45deg);
}

.ui-accordion-header:hover .ui-icon-plus {
  background-image: url("../img/icon-plus-hover.svg");
}

/* Футер */

.footer {
  padding: 50px 0;
  background-color: #222;
}

.footer__container {
  display: flex;
}

.footer__logo {
  margin-bottom: 16px;
}

.footer__menu {
  margin: 0 350px 90px 0;
}

.footer__menu-list {
  margin: 0;
}

.footer__menu-item {
  transition: background, outline, color;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.footer__menu-item:hover .footer__menu-link {
  color: var(--color-btn-hover);
}

.footer__menu-item:active .footer__menu-link {
  color: var(--color-btn-active);
}

.footer__menu-item:focus {
  outline: 2px solid var(--color-btn-hover);
}

.footer__menu-link {
  line-height: 36px;
  color: var(--color-light-grey);
}

.footer__socials-list {
  display: flex;
  margin: 0;
}

.socials-list-item:not(:last-child) {
  margin-right: 25px;
}

.footer__social-icon path {
  transition: fill 0.2s ease;
}

.footer__social-link .footer__social-icon:hover path {
  fill: var(--color-btn-hover);
}

.footer__social-link .footer__social-icon:active path {
  fill: var(--color-btn-active);
}

.subheading_grey {
  color: var(--color-light-grey);
}

.footer__form {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  width: 100%;
  max-width: 570px;
}

.footer-form-margin {
  margin-bottom: 23px;
}

.footer-input-margin {
  margin-bottom: 25px;
}

.footer-textarea-margin {
  margin-bottom: 32px;
}

.footer__text {
  flex: 0 1 363px;
  align-self: center;
  padding-bottom: 3px;
  color: var(--color-light-grey);
}

.footer__textarea {
  padding: 14px;
  min-height: 150px;
  resize: none;
}

.footer__form-input {
  padding-left: 24px;
  border: none;
  background: var(--color-footer-input);
  transition: background .2s ease;
}

.footer__input-wrapper {
  padding-top: 6px;
}

.footer__form-input:hover,
.footer__form-input:focus,
.footer__form-input:active {
  background: var(--color-btn_black-hover);
}

.input-height {
  height: 60px;
}

.footer__form-elem {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__input-checkbox:checked,
.footer__input-checkbox:not(:checked) {
  position: absolute;
  left: -9999px;
}

.footer__input-checkbox:checked+.footer__form-label,
.footer__input-checkbox:not(:checked)+.footer__form-label {
  position: relative;
  padding-left: 21px;
  line-height: inherit;
  cursor: pointer;
}

.footer__input-checkbox:not(:checked)+.footer__form-label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 1px solid var(--color-light-grey);
}

.footer__input-checkbox:checked+.footer__form-label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  width: 14px;
  height: 14px;
  border: 1px solid var(--color-light-grey);
  background-color: transparent;
}

.footer__input-checkbox:checked+.footer__form-label:after,
.footer__input-checkbox:not(:checked)+.footer__form-label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer__input-checkbox:checked+.footer__form-label:after,
.footer__input-checkbox:not(:checked)+.footer__form-label:after {
  content: "";
  top: 3px;
  left: 4px;
  width: 7px;
  height: 4px;
  border-left: 2px solid #97EE3F;
  border-bottom: 2px solid #97EE3F;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.footer__input-checkbox:not(:checked)+.footer__form-label:after {
  opacity: 0;
}

.footer__input-checkbox:checked+.footer__form-label:after {
  opacity: 1;
}

.footer__input-checkbox:not(:checked):focus+.footer__form-label:before,
.footer__input-checkbox:checked:focus+.footer__form-label:before {
  outline: 2px solid var(--color-btn-active);
}

.footer__form-btn {
  padding: 19px 52px;
  transition: background .2s ease;
}

.footer__form-btn:hover,
.footer__form-btn:focus {
  background-color: var(--color-btn-hover);
}

.footer__form-btn:active {
  background-color: var(--color-btn-active);
}

/* адаптив */

@media (max-width: 1579px) {

  .about__content-block {
    flex-direction: column;
  }

  .about__article-text {
    max-width: 100%;
  }

  .about__left-block {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .footer__menu {
    margin-right: 0;
  }

  .footer__form {
    margin-right: 0;
  }

  .footer__container {
    justify-content: space-between;
  }
}

@media (max-width: 1240px) {

  .header__menu-list-item:not(:last-child) {
    margin-right: 50px;
  }

  .faq__list-heading {
    font-size: 20px;
  }

  .footer__container {
    justify-content: space-around;
  }

  .footer__text {
    display: none;
  }
}

@media (max-width: 1024px) {

  .container {
    padding: 0 50px;
  }

  .logo {
    margin: 0;
  }

  .hero__btn {
    padding: 25px 38px;
  }

  .hero__heading {
    margin: 0 0 17px
  }

  .header__logo {
    margin: 0;
    max-width: 150px;
  }

  .header__container {
    justify-content: space-between;
  }

  .section-margin {
    margin-bottom: var(--section-margin-laptop);
  }

  .header__burger-menu {
    position: relative;
    top: 0;
    display: inline-flex;
    width: 30px;
    height: 23px;
    z-index: 110;
  }

  .header__burger-menu::before,
  .header__burger-menu::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--color-black);
    transition: .2s ease-in;
  }

  .header__burger-menu::before {
    top: 0;
  }

  .header__burger-menu::after {
    bottom: 0;
  }

  .header__burger-menu .header__burger-menu-line {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--color-black);
  }

  .header__menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 420px;
    height: 740px;
    background-color: #fbfbfb;
    z-index: 100;
    overflow: auto;
    transform: translateY(-101%);
    transition: transform .2s ease-in-out;
  }

  .header__menu-list-item:not(:last-child) {
    margin: 0 0 50px;
  }

  .header__menu_active {
    transform: none;
    transition: transform .2s ease-in-out;
  }

  .header__burger-menu_active .header__burger-menu-line {
    transform: scale(0);
  }

  .header__burger-menu_active::before {
    transform: rotate(45deg);
    top: 11px;
  }

  .header__burger-menu_active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu-list {
    flex-direction: column;
    padding: 80px 50px;
  }

  .hero__container {
    margin: 0 50px;
  }

  .hero__heading-block {
    padding: 160px 27px;
    max-width: 770px;
  }

  .hero__heading {
    font-size: 60px;
    line-height: 73px;
  }

  .hero__text {
    margin: 0 0 60px;
    font-size: 20px;
    line-height: 24px;
  }

  .how-work__content-left {
    flex: 0 1 49%;
    margin-right: 49px;
  }

  .how-work__text {
    margin-bottom: 25px;
  }

  .about__subheading {
    margin-bottom: 9px;
  }

  .about__text {
    margin-bottom: 60px;
  }

  .about__left-block {
    flex: 0 0 640px;
  }

  .about__article-description {
    padding: 50px 50px 49px;
  }

  .about__article-text {
    margin-left: 255px;
  }

  .about__article {
    padding-right: 125px;
    background-position: 75px;
  }

  .how-work__tabs {
    margin: 0 0 54px;
  }

  .faq__subheading {
    margin-bottom: 32px;
  }

  .ui-icon-plus {
    margin-left: 98px;
  }

  .faq__list-item {
    justify-content: space-between;
  }

  .faq__list-heading {
    margin: 0;
    font-size: 20px;
    line-height: 32px;
  }

  .footer__container {
    justify-content: space-between;
  }

  .footer__form {
    max-width: 540px;
  }

  .footer__form-btn {
    padding: 19px 37px;
  }
}

@media (max-width: 1023px) {

  .header {
    height: 69px;
  }

  .hero__heading {
    margin-bottom: 17px;
  }

  .hero__btn {
    padding: 25px 38px;
  }

  .hero__text {
    font-size: 18px;
    line-height: 22px;
  }

  .how-work__content {
    flex-direction: column-reverse;
  }

  .how-work__content-right {
    padding-top: 284px;
    margin-bottom: 38px;
  }

  .about__article-description {
    padding: 35px 40px 32px;
  }

  .about__article-description-text {
    max-width: 366px;
  }

  .about__article-text .primary-text {
    max-width: 100%;
  }

  .about__article-text {
    margin-left: 0;
    max-width: 452px;
  }

  .about__left-block {
    flex: 0 0 650px;
  }

  .about__article {
    padding: 35px 10px 32px 268px;
    background-position: 40px;
  }

  .how-work__tabs {
    margin: 0 0 51px;
  }

  .how-work__content-left {
    margin-right: 0;
  }

  .footer__menu {
    display: none;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__form {
    margin-bottom: 50px;
    max-width: 540px;
  }

  .footer__form-btn {
    padding: 20px 38px;
  }

  .footer__logo {
    margin-bottom: 12px;
  }
}

@media (max-width: 768px) {

  .hero .container {
    padding: 0 40px;
  }

  .hero__heading {
    font-size: 50px;
    line-height: 61px;
  }

  .hero__heading-block {
    padding: 160px 0;
  }

  .header__menu {
    width: 100%;
  }

  .slide-one {
    background-image: url('../img/hero-slide-one-laptop.webp');
  }

  .how-work__tabs-item:not(:last-child) {
    margin-right: 0;
  }

  .how-work__tabs {
    justify-content: space-between;
  }

  .about__subheading {
    margin-bottom: 7px;
  }

  .about__article {
    padding: 35px 10px 32px 168px;
    background-position: 40px;
    background-size: 114px 99px;
  }
}

@media (max-width: 630px) {

  .section-margin {
    margin-bottom: var(--section-margin-mobile);
  }

  .container {
    padding: 0 30px;
  }

  .hero .container {
    padding: 0 30px;
  }

  .hero__container {
    margin: 0 30px;
  }

  .hero__heading-block {
    padding: 90px 0;
  }

  .hero__heading {
    font-size: 35px;
    line-height: 48px;
  }

  .subheading {
    font-size: 36px;
    line-height: 54px;
  }

  .hero__btn {
    font-size: 18px;
    line-height: 22px;
  }

  .about__article {
    padding: 110px 20px 32px 0;
    border: none;
    background-position: top left;
  }

  .about__left-block {
    flex: 0 0 580px;
    background-size: contain;
    background-position: inherit;
  }

  .about__article-description {
    padding: 0;
    background: none;
  }

  .about__article-description-text {
    margin-right: 0;
    max-width: 100%;
    font-weight: 400;
    color: var(--color-black);
  }

  .about__article-btn {
    color: var(--color-btn);
  }

  .about__article-description-text {
    margin-bottom: 10px;
  }

  .faq__list-heading {
    font-size: 18px;
    line-height: 28px;
  }

  .ui-icon-plus {
    margin-left: 30px;
  }

  .footer__form-elem {
    flex-direction: column;
    justify-content: center;
  }

  .footer__form-btn {
    margin-bottom: 11px;
  }

  .footer__left-block {
    margin: 0 auto;
  }
}

@media (max-width: 440px) {

  .container {
    padding: 0 20px;
  }

  .header__logo {
    max-width: 110px;
  }

  .subheading {
    font-size: 24px;
    line-height: 29px;
  }

  .about__subheading {
    margin-bottom: 20px;
  }

  .primary-text {
    font-size: 14px;
    line-height: 28px;
  }

  .hero__heading-block {
    padding: 60px 0;
    text-align: center;
  }

  .hero__heading {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 24px;
  }

  .hero__text {
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 15px;
  }

  .btn {
    padding: 12px 29px;
    font-size: 12px;
    line-height: 15px
  }

  .subheading_bold {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
  }

  .about__article {
    padding-bottom: 15px;
  }

  .about__left-block {
    flex: 0 0 490px;
  }

  .how-work__link_margin {
    padding: 16px 27px;
    margin-right: 6px;
  }

  .how-work__link_grey {
    padding: 17px 31px;
    font-size: 12px;
    line-height: 15px;
  }

  .ui-accordion-header {
    font-size: 14px;
    line-height: 24px;
  }

  .faq__subheading {
    margin-bottom: 15px;
  }

  .ui-icon-plus {
    margin-left: 17px;
    width: 30px;
    height: 30px;
  }

  .footer__logo {
    max-width: 131px;
  }

  .footer__left-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 320px) {

  .container {
    padding: 0 15px;
  }

  .hero .container {
    padding: 0 15px;
  }

  .hero__container {
    margin: 0 15px;
  }

  .hero__slider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination {
    margin-bottom: 10px;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
    margin-right: 16px;
  }

  .slide-one {
    background-image: url('../img/hero-slide-one-mobile.webp');
  }

  .about__subheading-article {
    margin-bottom: 6px;
  }

  .about__article-description {
    padding: 0;
    background: none;
  }

  .about__text {
    margin-bottom: 15px;
  }

  .about__left-block {
    flex: 0 0 399px;
    background-size: 290px 200px;
    background-position: inherit;
  }

  .about__article-btn {
    padding: 10px 42px;
    color: var(--color-btn);
  }

  .about__article {
    padding: 60px 0 15px 0;
    background-size: 64px 49px;
  }

  .about__article_margin {
    margin-bottom: 17px;
  }

  .cube {
    background-image: url("../img/about-cube-mobile.svg");
  }

  .gear {
    background-image: url("../img/about-gear-mobile.svg");
  }

  .about {
    margin-bottom: 43px;
  }

  .how-work__subheading {
    margin-bottom: 21px;
  }

  .how-work__tabs {
    margin-bottom: 15px;
  }

  .how-work__tabs-btn {
    font-size: 14px;
    line-height: 17px;
  }

  .how-work__content-right {
    padding-top: 160px;
    margin-bottom: 21px;
  }

  .how-work__subheading_bold {
    margin-bottom: 14px;
  }

  .how-work__text {
    margin-bottom: 15px;
  }

  .how-work__link_margin {
    padding: 12px 44px;
    margin-right: 6px;
  }

  .how-work__link_grey {
    padding: 12px 31px;
    font-size: 12px;
    line-height: 15px;
  }

  .footer {
    padding: 30px 0;
  }

  .footer__form {
    margin-bottom: 16px;
    border-bottom: 1px solid #595959;
  }

  .footer__form-input {
    padding-left: 20px;
  }

  .footer__form-label {
    font-size: 16px;
    line-height: 32px;
  }

  .footer__form-elem {
    padding-bottom: 21px;
  }

  .footer-textarea-margin {
    margin-bottom: 26px;
  }

  .footer__form-btn {
    padding: 12px 28px;
    margin-bottom: 14px;
  }

  .footer__input-checkbox:not(:checked)+.footer__form-label:before {
    width: 13px;
    height: 13px;
  }

  .footer__social-link .footer__social-icon {
    width: 40px;
    height: 40px;
  }

  .socials-list-item:not(:last-child) {
    margin-right: 16px;
  }
}
